<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <!--    <link rel="stylesheet" href="../static/css/lobby.css">-->
    <link th:href="@{/css/lobby.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Lobby game</h1>
        </div>
        <div class="data">
            <h3>Player data:</h3>
            <h3>Username: user</h3>
            <h3>Password: password</h3>
        </div>
    </div>

    <script src="../static/javascript/lobby.js"></script>
</body>
</html>